/* card4.css */
#card-4 {
  /* 카드의 기본 속성 상속 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 튀어나오는 것 방지 */
  background: #a0d8ef; /* 하늘색 배경 미리 지정 */
}

#train-container {
  width: 100%;
  height: 100%;
  display: block;
}

/* 닫기 버튼 등이 가려지지 않게 z-index 관리 */
#card-4 .close-btn {
  z-index: 10;
}
#card-4 .card-number {
  z-index: 10;
}
